<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title><%= content_for?(:title) ? yield(:title) : "INDEX | INTRODUCTION"%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<link rel="stylesheet" href="normalize.css">  
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto Sans JP:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="style.css">

 
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="javascript:history.back()">community of index investers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="users/sign_up">Resister</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users/sign_in">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
   <body>
    <header class="header">
      <h1 class="site-titleInt">INTRODUCTION</h1>
      <section class="about" id="about">
      <p class="about-text">
      Time is your friends;impulse is your enemy.これは世界一の資産運用会社と称されるヴァンガード社の設立者、ジャック・ボーグル氏の
      長期投資の重要性を唱えている言葉です。彼は1976年に世界で初めてインデックス運用型の投資商品の販売を始めました。当時の資産運用は高コストのアクティブ投資が主流で、      
      一部のお金持ちが顧客であり、多額の手数料をファンド側に支払う状態でした。これに疑問を抱いた彼は、一般の人々でも資産形成ができるよう、
      低コストで運用できる投資商品の販売を始めました。販売開始当初、投資家たちは彼の投資商品に対し、ほとんど目を向けていませんでした。しかし、年を経るにつれ、インデックス投資の肝である
      長期・積立・分散の有効性が浸透し、また、ほとんどのアクティブファンドの運用成績がインデックスファンドより劣っているという事が判明しました。結果、21世紀のアメリカにおいて、インデックス投資は投資の主流手段として認識されるようになりました。<br>
      話は変わり、ここからは日本の投資状況についてです。現在の日本において株式や投資信託によって資産運用を行っている人は全体の15パーセント前後と言われており、投資ではなく現金による貯蓄がほとんどです。これを諸外国と比較した時、倍以上の差が開いている状態
      です。では、なぜ日本と諸外国とでこのような違いが生じるのでしょうか。それは、社会制度の違いが原因のひとつです。例えば、アメリカの場合、日本のような手厚い医療保険制度は存在せず、また、年功序列、終身雇用、勤続年数に比例した退職金制度のようなものも存在していません。
      要は、自分の人生にかかるコストを自分で準備しなければなりません。一方の日本は、終身雇用や退職金、年金制度が存在することで、企業や国が個人の人生にかかるコストを管理、支援してくれている状態です。しかし、近年の状況は変わりつつあります。
      言及するまでもなく、日本の年金制度は破綻しています。民間企業においても退職金の支給額は年々減少傾向にあり、ついには終身雇用でさえ限界を迎えつつあります。
      要は、自分で将来の人生にかかるコストを工面しなければならない状況なのです。ただ、労働収入のみで全てのコストを賄うのは、精神的、肉体的に無理があります。そこで、登場するのがお金にも働いてもらうという発想です。
      例えば、労働収入のみで年間100万円貯蓄し、3000万円に到達するには30年を要します。しかし、インデックス投資を活用すればおよそ15年から20年で3000万円に到達することが可能です。
      (年間利回り5～7%の場合。この値はインデックス投資の標準的な利回りです。)<br>
      インデックス投資はすぐに儲かる投資ではありません。確実に利益を得たければ、少なくとも15年は続けて頂きたいです。いきなり15年もの年月を掲示されると、途方もなく長く感じ、いざ始めようと思っても続けられるか不安に感じるかもしれません。
      ですが、何事も真面目にコツコツ積み上げ続ける事のできる日本人であれば、私は必ずやり遂げられると思っています。要は、コツコツ貯金していたお金をインデックス投資に変えるだけです。<br>
      時代は変わってきています。かつて、日本人が世界に投資をするとなれば莫大な資金や証券会社、銀行とのコネクションが必要でした。しかし、インターネットの登場、オンライン銀行、オンライン証券会社の
      台頭で誰もが投資を行える環境が整備されました。<br>
      これで、日本に住む一般の人でもインデックス投資を通じ、長期・積立・分散の投資が簡単に始められます。
      以下に投資を始めるにあたる流れを記載しています。興味を持った方はぜひ読み進めてください。
      </p>
      </section>
      <h1 class="site-title1">First Step</h1>
      <section class="about" id="about">
      <p class="about-stepText">
        銀行口座の開設<br>
      </p>
      <p class="about-content">
        投資信託を購入するには、特定口座にお金を入金するための銀行口座(普通口座)が必要です。<br>
        以下に推奨銀行を記載しています。<br>
        ・楽天銀行<br>
        ・住信SBI銀行<br>
      </p>
      <p class="site-appendix">
        Appendix
      </p>
      <p class="about-content">
      現代において、個人が口座開設をする際、ATM利用時や振込に関わる手数料が基本的に無料、かつオンライン証券とのリンク性からオンライン銀行の選択を強く推奨します。  
      </p>
      </section>
      <h1 class="site-title2">Second Step</h1>
      <section class="about" id="about">
      <p class="about-stepText">
        特定口座の開設
      </p>
      <p class="about-content">
        オンライン証券会社の投資信託であれば数百円程度からインデックス投資を始められます。<br>
        その際、投資信託を購入するためのお金を振込む特定口座をオンライン証券会社のサイト上で作成する必要があります。
        以下に推奨オンライン証券会社を記載しています。<br>
        ・楽天証券<br>
        ・SBI証券<br>
        ・マネックス証券<br>
      </p>
      <p class="site-appendix">
        Appendix
      </p>
      <p class="about-content">
      オンライン銀行、オンライン証券であれば、自宅からPC、スマホで口座開設が可能です。  
      </p>
      </section>
      <h1 class="site-title3">Final Step</h1>
      <section class="about" id="about">
      <p class="about-stepText">
        投資信託の買い付け
      </p>
      <p class="about-content">
        日本で購入できる投資信託の商品だけでも数百から数千種類も存在しています。<br>
        その中から、人気かつ優良ファンドと称されている代表的商品を以下に記載しています。<br>
        「楽天・バンガード・ファンド」<br>
        ・楽天・全米株式インデックスファンド<br>
        「ニッセイ」<br>
        ・ニッセイ外国株式インデックスファンド<br>
        「三菱UFJ国際」<br>
        ・eMAXIS Slim先進国株式インデックス<br>
        ・eMAXIS Slim米国株式(S&P500)<br>
        ・eMAXIS Slim全世界株式(除く日本)<br>
      </p>
      <p class="site-appendix">
        Appendix
      </p>
      <p class="about-content">
        上述した商品は全てつみたてNISA対象です。<br>
        要は、金融庁が数ある商品からスクリーニングし、長期・積立・分散投資に適し、<br>
        手数料が低水準と認めた優良商品です。
      </p>
      </section>
      <h1 class="site-title4">Action</h1>
      <section class="about" id="about">
      <p class="about-nisacontent">
        このページでインデックス投資を始めるための最低限の情報は提供しました。<br>
        ここからインデックス投資を始めるか否かはあなた次第です。
        とは言ってもまだまだ分からない事、不安な事があるのではないでしょうか。もし、そうなら
        ぜひこのコミュニティに登録し、ログインしてください。先駆者たちがあなたの疑問を解消してくれるでしょう。
        そして、知識を得た後は、その知識を別の人に提供し、シェアしてください。そうすることで、この国の人々の金融リテラシー
        を上げる事ができます。金融リテラシーが上がれば、人生におけるお金の不安から解消され、自分自身の人生をより楽しめるはずです。
      </p>
      </section>
      <h1 class="site-title5">Important Tips</h1>
      <section class="about" id="about">
      <p class="about-stepText">
      少額投資非課税制度
      </p>
      <p class="about-nisacontent">
        少額投資非課税制度とはNISAと称される少額からの投資を行う人のための非課税制度です。
        通常、株や投資信託には手数料の他に支払わなければならないお金があります。それは、株、投資信託によって得た利益にかけられる
        税金です。2019年においては、利益の2割を税として納めなければなりません。
        しかし、NISAを使用して購入した株、投資信託の場合、この税金は免除となります。要は、非課税なのです。<br>
        ただし、NISAにはいくつか制限があります。例えば、つみたてNISAの場合、1年間で投資に充てることのできる額は40万円まで、また、非課税となる
        期間は20年までです。このような制限があるものの、20年あればインデックス投資で十分利益を得ることができるでしょう。<br>
        そして、NISAで得た利益は非課税なので、全ての利益を得ることができます。
      </p>
      </section>
    </body>
    <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Masato Okawa 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  
</html>
